/*------------------------------------*\
    $NAV
\*------------------------------------*/
/**
 * Extends `.nav`.
 */
.site-nav{
	margin-left:$half-spacing-unit;
	margin-top:$half-spacing-unit;
    margin-bottom:0;
    line-height:48px;
    //float:right;

    @include media-query(desk){
    	margin-left:0;
    	margin-top:0;
        line-height:108px;
    }
    > li{
        margin-right:$half-spacing-unit;
        @include media-query(desk){
            margin-right:$base-spacing-unit;
        }
    }

    a{
        color:#555;

        &:hover{
            color:$brand-color;
            text-decoration:none;
        }
    }
}

/**
 * This doesn’t compile to the DRYest CSS ever, but it allows us to loop through
 * our pages for ‘current’ nav styling really easily.
 * 1. Make link look unclickable if you are currently on that page.
 */
@each $page in home, about, work{
    .page--#{$page} .site-nav__#{$page} a{
        cursor:text; /* [1] */
        color:$brand-color;
    }
}