/*------------------------------------*\
    $PAGE-HEAD
\*------------------------------------*/
.page-head {
    @extend .cf;
    margin-bottom:20px;
}

.site-logo {
	//@extend .logo;
	font-family:'aller', Arial, sans-serif;
	float:left;

	font-size:38px;
	line-height:44px;

	@include media-query(desk){
        font-size:72px;
		line-height:100px;
    }

	&:hover {
		text-decoration:none;
	}

	.page--home & {
		cursor:default;
	}
}