<header class="page-head">
  <div class="gw">
    <div class="g  one-whole  desk-six-tenths">
      <a href="{{ site.baseurl }}/" class="site-logo">
        <span class="fancy-title">{{ site.title }}</span>
      </a>
    </div>
    <div class="g  one-whole  desk-three-tenths  push--desk-one-tenth">
      <ul class="nav site-nav">
        <li class="site-nav__home">
          <a href="{{ '/' | prepend: site.baseurl }}">Home</a>
        </li>
        <li class="site-nav__home">
          <a href="{{ '/work/' | prepend: site.baseurl }}">Work</a>
        </li>
        <li class="site-nav__home">
          <a href="{{ '/about/' | prepend: site.baseurl }}">About</a>
        </li>
      </ul>
    </div>
  </div>
</header>
