<!-- Header -->
<section id="header" class="skel-layers-fixed">
  <header>
    <span class="image avatar"><img src="{{ "/images/avatar.jpg" | prepend: site.baseurl }}" data-at2x="{{ "/images/avatar@2x.jpg" | prepend: site.baseurl }}" alt="" /></span>
    <div id="logo"><a href="{{ site.baseurl }}/">{{ site.title }}</a></div>
    <p>iOS lover<br />
      Swift addict</p>
  </header>
  <nav id="nav">
    <ul>
      <li><a href="{{ '/' | prepend: site.baseurl }}">Home</a></li>
      <li><a href="{{ '/work/' | prepend: site.baseurl }}">Work</a></li>
      <li><a href="{{ '/about/' | prepend: site.baseurl }}">About</a></li>
    </ul>
  </nav>
  <footer>
    <ul class="icons">
      <li><a href="https://twitter.com/_dulacp" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="https://github.com/dulacp" class="icon fa-github"><span class="label">Github</span></a></li>
      <li><a href="mailto:dulacpier@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
      <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="icon fa-rss"><span class="label">RSS</span></a></li>
    </ul>
  </footer>
</section>
