@font-face {
	font-family: 'dulacp';
	src:url('dulacp.eot');
	src:url('dulacp.eot?#iefix') format('embedded-opentype'),
		url('dulacp.svg#dulacp') format('svg'),
		url('dulacp.woff') format('woff'),
		url('dulacp.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'dulacp';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-twitter:before, .icon-github:before, .icon-feed:before, .icon-tags:before, .icon-quill:before, .icon-code:before {
	font-family: 'dulacp';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-twitter:before {
	content: "\e000";
}
.icon-github:before {
	content: "\e001";
}
.icon-feed:before {
	content: "\e002";
}
.icon-tags:before {
	content: "\e003";
}
.icon-quill:before {
	content: "\e004";
}
.icon-code:before {
	content: "\e005";
}
